$verlag7r: "Verlag 7r", "Verlag A", "Verlag B", sans-serif;
$verlag3r: "Verlag 3r", "Verlag A", "Verlag B", sans-serif;
$sentinel: "Sentinel SSm 4r", "Sentinel SSm A", "Sentinel SSm B", serif;
$trumpgothic: trump_gothic_west_mediumRg, sans-serif;

$black: #111;
$red: #DC4621;
$white: #fff;
$dark-gray: #6D6F71;
$light-gray: #e3e3e1;

$hyperlink: #d41;
$hyperlinkHover: #ef6132;

$xl: 1200px;
$l: 979px;
$m: 767px;
$sm: 636px;
$xs: 480px;
