@import "meyer-reset";
@import "fonts";
@import "variables";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: $sentinel;
}
p {
	margin-bottom: 0.6em;
	font-family: $sentinel;
	font-size: 0.8em;
	line-height: 1.4em;		
}
nav {
	position: fixed;
	z-index: 3;
	background-color: black;
	width: 100%;
	img {
		width: 80px;
		margin: 1em;
	}
}
$navMargin: 65px;
.headline-wrapper {
	h1 {
		font-family: $trumpgothic;
		font-size: 3.5em;
	}	

	p {
    	font-size: 0.9em;
	}
}
.map-wrapper {
	position: fixed;
	top: $navMargin;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $light-gray;

	$diameter: 35px;
	.map-marker {
		width: $diameter;
		height: $diameter;
		border-radius: 50%;
		background-color: $black;
		opacity: 0.75;
		color: $white;
		display: table;
		text-align: center;
		cursor: pointer;
		font-family: $trumpgothic;
		font-size: 1.4em;
		line-height: 0.7em;
		letter-spacing: 0.05em;

		&:hover {
			opacity: 0.8;
		}

		&.marker-active,
		&.marker-active:hover {
			opacity: 1;
			background-color: $red;
			z-index: 2;
		}
		* {
			display: table-cell;
			vertical-align: middle;
		}
	}

	@media (max-width: $sm){
		bottom: auto;
		height: 30vh;
		z-index: 2;
    	box-shadow: 0px 0px 3px $dark-gray;
	}
}

.list-wrapper {
	position: relative;
	top: $navMargin;
	left: 5%;
	width: 25%;
	min-width: 250px;
	max-width: 400px;
	min-height: 800vh;
	background-color: $white;
	box-shadow: 0px 0px 10px $dark-gray;
	padding: 20px;

	@media (max-width: $m){
		left: 3%;
	}

	@media (max-width: $sm){
	    top: 30%;
	    left: auto;
	    width: auto;
	    min-width: initial;
	    max-width: inherit;
	    box-shadow: none;		
	}

}

.list-item {
	padding: 15px 0;
	border-bottom: 1px solid $light-gray;
	color: $black;

	h2 {
		font-size: 2.3em;
		font-family: $trumpgothic;
		margin: .4em 0;
	}

	.list-kicker {
		color: $red;
		text-transform: uppercase;
		font-family: $verlag7r;
		letter-spacing: 0.15em;
	}

	.list-location {
		color: $dark-gray;
		font-style: italic;
	}

	.list-details {

	}

	.list-share-tools {

	}
}