<html>
<head>
    <title></title>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="css/base.css">
</head>
<body>

	<div class="map-wrapper" id="map"></div>
	<div class="list-wrapper">

{{ locations }}

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
	<script type="text/javascript" src="js/locations.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
</body>
</html>